{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}


<div>
    <button type="button" class="btn sidebar-logo d-flex p-3" data-bs-toggle="modal"
            data-bs-target="#cartModal">
        <img class="mx-1" src="{% static 'source/icons/cart4.svg' %}" alt="Backet icon" width="43"
             height="34">
        <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
    </button>
</div>
<!-- Разметка модального окна корзины -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content basket-bg">
            <div class="modal-header">
                <h3>Кошик</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="cantainer" id="cart-items-container">
                    <!-- Разметка корзины -->
                    {% include 'carts/includes/included_cart.html' %}
                    <!-- Конец разметки корзины -->
                </div>
            </div>
        </div>
    </div>
</div>