{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="col-lg-8">
        {% include 'includes/notifications.html' %}
        <div class="row">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-9 bg-login p-4 mb-4 mx-3 rounded">
                        <h2 class="text-center mb-4 fw-bold">Реєстрація</h2>
                        <form action="{% url 'users:registration' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="id_first_name" class="form-label">І'мя*</label>
                                    <input type="text" class="form-control bg-input bg-login" id="id_first_name"
                                           value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                           placeholder="Введіть ваше ім'я" name="first_name" required>
                                    {% if form.first_name.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="id_email" class="form-label">Email*</label>
                                    <input type="email" class="form-control bg-input bg-login" id="id_email"
                                           value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                           placeholder="Введіть вашу електрону пошту" name="email" required>
                                    {% if form.email.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="id_last_name" class="form-label">Прізвище*</label>
                                    <input type="text" class="form-control bg-input bg-login" id="id_last_name"
                                           value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                           placeholder="Введіть ваше прізвище" name="last_name" required>
                                    {% if form.last_name.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="id_password1" class="form-label">Пароль*</label>
                                    <input type="password" class="form-control bg-input bg-login" id="id_password1"
                                           value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                           placeholder="Введіть пароль" name="password1" required>
                                    {% if form.password1.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="id_username" class="form-label">І'мя користувача*</label>
                                    <input type="text" class="form-control bg-input bg-login" id="id_username"
                                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                           placeholder="Введіть ваше і'мя користувача" name="username" required>
                                    {% if form.username.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="id_password2" class="form-label">Пароль*</label>
                                    <input type="password" class="form-control bg-input bg-login" id="id_password2"
                                           placeholder="Повторіть пароль" name="password2" required>
                                    {% if form.password2.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-product fs-4">Зареєструватися</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
