{% extends 'base.html' %}

{% load static %}

{% block modal_cart %}
	{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <div class="col-lg-10">
        {% include 'includes/notifications.html' %}
        <h1 class="text-dark fs-3 fw-bold">{{ content }}</h1>
        <h3 class="text-dark">{{ text_on_page }}</h3>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4">
        <p class="m-0 text-center text-white">House of Tea</p>
    </footer>
{% endblock %}